<body>
    <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/ICT_Academy_Kerala.webp" alt="">
    <form action="">
        <div class="full">
        <h1>Add Requirements</h1><br>
<label>Name of the Requirement</label><br>
<input type="text" placeholder="type here"><br><br>
<label>Select the field for training</label><br>
<Select>
     <option value="Select">FSD</option> 
     <OPTION>ML-AI</OPTION>
     <OPTION>DSA</OPTION>
     <OPTION>RPA</OPTION>
     <OPTION>ST</OPTION>
     <OPTION>CSA</OPTION>

</Select><br><br>
<label>Enter the Institution/corporate Office </label><br>
<input type="text" placeholder="type here"><br><br>
<label>Category of Requirements</label><br>
<Select>
    <option value="Select">Retail</option> 
    <OPTION>Academic</OPTION>
    <OPTION>Corporate</OPTION>
    <OPTION>Government</OPTION>
   
</Select><br><br>
<label>Select the training duration</label><br> 
      <input type="radio" id="2hrs" name="trainingDuration"> <label for="2hrs">2hrs</label> 
      <input type="radio" id="3hrs" name="trainingDuration"> <label for="3hrs">3hrs</label> 
      <input type="radio" id="4hrs" name="trainingDuration"> <label for="4hrs">4hrs</label><br><br> 

<br>
 <button class="add"> Submit</button>
            
        </div>
    </form>
</body>
