.full{
   
    
    margin-left: 200px;
    margin-right: 600px;
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-family: 'Explora', cursive;
    font-family: 'Kaushan Script', cursive;
}
.add{

    background-color: blue;
}
#logo { 
    display: block; 
    size: 1px; 
    margin-left: 10px; 
    width: 75px; 
    height: auto;
  }