body{
    background-image:url('https://en.idei.club/uploads/posts/2023-06/1686528920_en-idei-club-p-computer-background-image-dizain-krasivo-5.jpg');
    background-size: cover;
    color: white;
    
}