  <html>
    <body>
        <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/ICT_Academy_Kerala.webp" alt="">
       
        <div class="home">
            <h1>ICT Academy Kerala</h1>
            <div class="button">
                <p> Login and SignUP for Faculty</p>
          
               <a routerLink="/faculty">
                 <input type="button" value="SignUP">
               </a>                
                <br><br>

                  <p>Login for Admin</p>
                <a routerLink="/admin"> 
                  <input type="button" value="Login">
                </a>
            
    
           
        </div>
        </div>
    
    </body>
</html>  

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ICT_Academy_Kerala</h1>
   <a routerLink="/faculty">Signup</a>
 
   
      -->
<!-- </body>
</html> -->




















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet'>
</head>
<body>
    <div class="formbox login">
        <h2>Login</h2>
      <form>
        <div class="inputbox">
            <input type="text" />
            <label for="username">Username</label>       
 </div>
        <div class="inputbox">
            <input type="password" />
            <label for="password">Password</label>
  </div>

        <div >            
            <button>
                Login
            </button>
            <div>
                <p>Don't have an account?<a routerLink="/register">Register</a></p>
            </div>
        </div>
     </form>
    </div>

</body>
</html> -->
